
 body {
    background-color: #ca6dd1; /* Ustawiony kolor tła */
  }
  

  .container {
    margin-top: 50px; /* Dodatkowy margines na górze dla estetyki */
    
  }
  
  .col-md-6 {
    padding: 20px; /* Dodatkowy wewnętrzny margines dla kolumn */
  }
  
  .col-md-6 p {
    font-size: 1.2em; /* Rozmiar czcionki dla tekstu opisu */
  }
  
  .col-md-6.text-right img {
    max-width: 100%; /* Maksymalna szerokość dla logo */
  }

  .rounded-image {
    border-radius: 50%; /* Zaokrąglenie do kształtu koła */
    width: 550px; /* Dostosuj szerokość według potrzeb */
    height: 550px; /* Dostosuj wysokość według potrzeb */
  }


  